@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

a {
    text-decoration: none;
    color: #61569e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d46d6d;
    font-family: 'Open Sans', sans-serif;
}
input[type=text] {
    transition: border-bottom 0.4s ease-in-out;
}
input[type=text]:focus {
    outline: 0;
    border-bottom: 1px solid #2801d3;
}
#login {
    width: 90%;
    min-width: 230px;
    max-width: 350px;
    min-height: 470px;
    margin: 0px auto;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.4);
}
#login-text {
    margin: 40px;
    font-size: 36px;
    font-weight: 300;
    color: #686383;
}

#form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.input-item {
    width: 60%;
}
.input-item i {
    position: relative;
    top: 25px;
    left: -30px;
    font-size: 24px;
    color: #686383;
}
.input-item input{
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #a298dd;
}
.btn-login {
    margin: 15px 0 10px 0; 
    width: 80%;
    background-color: #575272;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.btn-login a {
    text-align: center;
    display: inline-block;
    padding: 15px;
    color: #ffffff;
    border-radius: 16px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    font-size: 18px;
}
#forgot {
    margin: 0 0 35px 0;
}

